/* .body{
    background-color: red;
}

.form-class{
    margin: 30px;
   
}

.btn{
    float: right;
    margin-bottom: 50px;
}
 */


 .form{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
}

.add-btn{
    margin-bottom: 50px;
}
