.btn-selections>.btn-option{
    display: inline-block;
}

.connection > linked-link {
    color:red;
    text-decoration:red;
   }
   
.course-img{
    width: 100%;
    height: 150px;
}

.course-title{
    padding-top:2vw;
}

.course-details{
    padding-top: 2vw;
    padding-bottom: 2vw;
}


/* .course-btn{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;   
    padding-bottom: 5vw;
} */

/* .delete-btn{
margin-left: 10px;
} */


.bio{
    padding-top:2vw;
    margin-bottom: 5vw;
}